.tableHeader {
  background-color: aqua;
}
th {
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
}

td {
  text-align: center;
  padding: 5px 10px;
  color: darkgray;
}
.tableBodyRow:nth-child(2n + 1) {
  background-color: white;
}
.tableBodyRow:nth-child(2n) {
  background-color: lightgrey;
}
