.friendList {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
.online {
  margin-right: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}
.offline {
  composes: online;
  background-color: red;
}
.avatar {
  margin-right: 10px;
}
